body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    color: #333333;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #555555;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

nav ul {
    display: grid;
    text-align: center;
    grid-template-columns: 10% 10% 10%  60% 10%;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #dddddd;
}
#hello{
    color: white;
}

main {

    display: grid;
    justify-items: center;
    margin: 20px;
    height: 90%;

}

.shortcut {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}


.todo {
    margin-bottom: 20px;
}

.button {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
    width: 150px;
}

.button:hover {
    background-color: #dddddd;
}
#open-notes{
    color: #3cb371;

}
.note {
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90%;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: grid;

}
.note:hover{
    width: 90%;
    height: 220px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}

.notepad {
    margin-bottom: 20px;
}

.note-title {
    border: none;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

#notes {
    border: none;
    border-top: 1px solid #333333;
    font-size: 16px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.buttons-notepad {
    text-align: right;
}

#add-note {
    color: #3cb371;
}

#save-note {
    color: #4b0082;
}

#reset-note {
    color: #ff6347;
}

input[type=number] {

    border: 1px solid #333333;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px ;
    width: 20%;
}

.all-notes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
