/* Resetowanie stylów dla elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylowanie elementu body */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f2f2f7;
    color: #333;
}

/* Stylowanie elementu header */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

/* Stylowanie elementu h2 w headerze */
header h2 {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Stylowanie sekcji logowania */
.login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin: 20px auto;
    padding: 20px;
    width: 300px;
}

/* Stylowanie etykiety i pola do wprowadzania danych */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #666;
}

input[type="text"],
input[type="password"],input[type="number"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

/* Stylowanie przycisku Submit */
input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}

/* Stylowanie linków */
#links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#links a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

#links a:hover {
    color: #000;
}
